html{
  background-color: #000;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nico {
  font-family: Nico Moji;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotateY(360deg);
  }
}

.rotating-image {
  animation: rotate 1s infinite linear;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
}

.gradationColor {
  background: linear-gradient(261deg, #000 -14.11%, #fac500 89.75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradationColor2 {
  background: linear-gradient(180deg, #000 0%, #fac500 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradationModalTextColor {
  background: linear-gradient(180deg, #0569FF 0%, #B67EFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gm-style .gm-style-iw-c {
  padding-right: 10px !important;
  padding-bottom: 0px !important;
  max-width: 270px !important;
  min-width: 0px !important;
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  background: linear-gradient(
    180deg,
    #0691f6 0%,
    rgba(151, 71, 255, 0.89) 100%
  );
  border-radius: 10px;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: 'nicomoji';
  src: url(../public/fonts/nicomoji-plus_v2.ttf);
}
.nicomoji {
  font-family: nicomoji;
}

.noPrimeVipIcon {
  background: linear-gradient(180deg, #A48100 0%, #000 213.1%);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 380px;
  height: 94px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  position: relative;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.noPrimeVipIcon:hover {
  transform: scale(1.05);
  margin-bottom: 3px;
}
.primeVipIcon {
  background: linear-gradient(180deg, #A48100 22.74%, rgba(0, 0, 0, 0.00) 148.21%);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 380px;
  height: 94px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  position: relative;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.primeVipIcon:hover {
  transform: scale(1.05);
  margin-bottom: 3px;
}